.react-datepicker {
  box-shadow: 1px 2px 4px 6px #f6f6f6;
  border: 1px solid white !important;
  font-family: inherit;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__header {
  background-color: white !important;
  border-bottom: none !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__popper {
  z-index: 1000 !important;
}

.react-datepicker-popper {
  z-index: 1000 !important;
}

.react-datepicker__view-calendar-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.react-datepicker__input-container input {
  padding-left: 12px;
}

.react-datepicker__input-container .react-datepicker__calendar-icon {
  display: revert !important;
}

/* Month Picker Styles */
.react-datepicker__month-container {
  float: none;
}

.react-datepicker__month-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 250px;
}

.react-datepicker__month-text {
  width: 25% !important;
  padding: 10px 0 !important;
  margin: 2px 0 !important;
  display: inline-block !important;
  text-align: center;
}

.react-datepicker__month--selected,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--keyboard-selected {
  background-color: #007b99 !important;
  color: white !important;
  border-radius: 0.375rem;
}

.react-datepicker__month-text:hover {
  background-color: #007b9990 !important;
  border-radius: 0.375rem;
}
