@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --radius: 0.5rem;
  }
  html {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }
}

@layer components {
  .over-flow-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .over-flow-container::-webkit-scrollbar-track {
    @apply bg-slate-300;
  }
  .over-flow-container::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-sm;
  }

  .unstyled-dialog {
    all: unset !important;
    display: block !important;
    pointer-events: auto !important;
  }

  .dialog-overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(8, 15, 26, 0.8);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.15s linear;
  }

  [data-state="open"] .dialog-overlay {
    opacity: 1;
  }

  .dialog-content {
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 100;
    animation: slideDown 0.15s ease-out forwards 0.2s;
    border-radius: 8px;
    @apply w-[400px] sm:w-[600px] md:w-[760px];
  }
  .input-class {
    @apply w-full px-4 py-4 placeholder:text-xs rounded-lg bg-CFE6F1 focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none transition-all;
  }
}

@layer utilities {
  @keyframes slideDown {
    100% {
      top: 26%;
      opacity: 1;
    }
  }
}
